<nav class="navbar navbar-fixed-top">
  <!--div class="container"-->
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="background:#ccc;">
        Menu 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="logo" src="{{ site.baseurl }}/lib/imgs/pree.png"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="/about.html">About Us</a></li>
        <!--li><a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Request Access</a></li-->
        <li><a href="/request-access.html">Request Access</a></li>
        <li><a href="http://pree.it/pree-app">Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  <!--/div-->
</nav>